@using System.Collections
@using Juste_IFI_toi.Models
@using Microsoft.Ajax.Utilities
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/Login.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 btn btn-info block-login">
        @ViewBag.Error
        <form action="" method="post">
            <label for="pseudo"> Pseudo:
                <input type="text" id="pseudo" name="pseudo">
            </label>
            <label for="password"> Password:
                <input type="password" id="password" name="password">
            </label>
            <input type="submit" class="btn btn-default" value="Se connecter">
        </form>
    </div>
</div>
<div>
    <div class="col-md-2"></div>
    <div class="col-md-8 btn btn-info block-create">
        @ViewBag.new_Error
        <form action="/Security/CreateAccount" method="post">
            <label for="pseudo"> Pseudo:
                <input type="text" id="new_pseudo" name="new_pseudo">
            </label>
            <label for="password"> Password:
                <input type="password" id="new_password" name="new_password">
            </label>
            <input type="submit" class="btn btn-default" value="Creer le compte">
        </form>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>