@{
    Layout = null;
    if (ViewBag.Error == null)
    {
        ViewBag.Error = "";
    }
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            @ViewBag.Error
            <form action="" method="post">
                <label for="pseudo"> Pseudo:
                    <input type="text" id="pseudo" name="pseudo">
                </label>
                <label for="password"> Password:
                    <input type="password" id="password" name="password">
                </label>
                <input type="submit" value="Se connecter">
            </form>
        </div>
    </div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>