@using Juste_IFI_toi.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>Top des retards</h2>
        
        @{
            if (ViewBag.listRetards != null)
            {
                foreach (Retard retard in ViewBag.listRetards)
                {
                    <div class="retard-block btn btn-dark">
                        <h4>@retard.Motif</h4>
                        <div>@retard.Date.ToShortDateString()</div>
                        <img src="@retard.Photo" alt="preuve">
                        <div>
                            by : @retard.User.pseudo
                        </div>
                        <div>
                            <button accesskey="@retard.Id" class="btnUp btn btn-info">+</button>
                            <button accesskey="@retard.Id" class="btnDown btn btn-info">-</button>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>